body{
  margin: 0;
}

header{

}

.navBar{
  display: grid;
  grid-template-columns: 15% 17.5% 17.5% 17.5% 17.5% 5% 5% 5%;
  background-color: rgb(21, 46, 66);
  line-height: 6vw;
  transition: 0.7s;
}

.navBar:hover{
  background-color: rgb(16, 33, 47);
  transition: 0.7s;
}

.navButton{
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.5s;
}

.navButton:hover{
  color: rgb(215, 215, 215);
  transition: 0.5s;
}
